test
[{"id":"3da0de9.1595e22","type":"inject","z":"ee16871.a66ed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220.51737213134766,"y":190.52087879180908,"wires":[["8f99df3.ea2142"]]},{"id":"b360c1c4.4b73e","type":"console","z":"ee16871.a66ed78","name":"","active":true,"console":"false","complete":"payload","x":208.51395416259766,"y":284.3333549499512,"wires":[]},{"id":"8f99df3.ea2142","type":"aws-thing","z":"ee16871.a66ed78","method":"get","x":220.40279388427734,"y":357.01737213134766,"wires":[["b360c1c4.4b73e"]]}]